@import 'tailwindcss';

:root, html, body, #sv-body {
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', serif, sans-serif;
}

h1 {
    @apply font-bold text-4xl;
}

h2 {
    @apply text-2xl;    
}

a {
    @apply text-amber-700 underline;
}

a:visited {
    @apply text-amber-800;
}

button {
    cursor:pointer;
}